extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") GoMonster
          h6 Yet to think
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
          li
            a(href="/about") About Us
          li
            a(href="/contact") Contact
        div(ng-include="'partials/account/navbar-login'")
            
  section.content
  div(ng-view) 
  //- h2=mongoMessage

  footer.container.text-center
    p &copy; 2015 multivision Corp International Ltd
 
